---
import PageLayout from "@layouts/PageLayout.astro"
import { SITE, ABOUT } from "@consts"
import TopLayout from "@layouts/TopLayout.astro"
---

<PageLayout title="About" description={SITE.DESCRIPTION}>

  <TopLayout>
    <div class="animate page-heading text-center text-3xl">
      {ABOUT.TITLE}
    </div>
    <div class="animate page-subheading text-center text-xl">
      Last updated on July 21, 2024.
    </div>
  </TopLayout>

  <div class="relative bg-white dark:bg-indigo-950">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <!-- About Section -->
      <section class="animate">
        <article>
          <p>I'm an undergraduate student on a mission to learn, build, and contribute. I have a knack for technology, community building, and social impact. I believe in the power of community and strive to make a positive impact wherever I can.</p>

          <p>I'm currently immersing myself in the world of cinema operations, working as a Cinema Operations intern at CJ CGV Cinemas Vietnam. It's a fantastic experience where I'm getting hands-on with the business side of the movie industry.</p>

          <p>In my spare time, I love sharing my knowledge. I tutor independently, helping others grasp the nuances of various subjects. And I'm passionate about giving back to the online communities that have given me so much. That's why I contribute to community translations for WordPress, Telegram, Minecraft, and more. I also map for OpenStreetMap with the belief that accurate and accessible maps are essential for everyone. Plus, I'm an advocate for inclusivity and participate in projects like Pronouns.page.</p>

          <p>Oh, and my developer journey is always evolving. I'm drawn to frontend development and enjoy exploring new technologies. I'm also fascinated by the intersection of technology and social impact – how we can use code to create a more equitable and inclusive world.</p>

          <p>Through my blog, I share insights on everything from web development and coding tips to reflections on my personal growth. I believe in the power of knowledge sharing and hope my experiences can help others on their own journeys.</p>

          <p>I'm excited about the future and the endless possibilities it holds. Whether it's building innovative solutions, fostering vibrant communities, or simply making the world a little brighter, I'm here for it. If you'd like to collaborate on a project, have any questions, or just want to chat, don't hesitate to reach out!</p>
        </article>
      </section>
    </div>
  </div>
</PageLayout>
