---
import PageLayout from "@layouts/PageLayout.astro"
import SitemapCard from "@components/SitemapCard.astro"
import { SITE, SITEMAP } from "@consts"
import TopLayout from "@layouts/TopLayout.astro"

const list = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "My work",
    href: "/work",
  },
  {
    text: "Contact me",
    href: "/contact",
  },
  {
    text: "Blog",
    href: "/blog",
  },
  {
    text: "My projects",
    href: "/projects",
  },
  {
    text: "Uses",
    href: "/uses",
  },
  {
    text: "About me",
    href: "/about",
  },
  {
    text: "Colophon",
    href: "/colophon",
  },
  {
    text: "Search",
    href: "/search",
  },
  {
    text: "RSS",
    href: "/rss.xml",
  },
  {
    text: "Sitemap (this page)",
    href: "/sitemap",
  },
]
---

<PageLayout title="Sitemap" description={SITE.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading text-center text-3xl">
      {SITEMAP.TITLE}
    </div>
  </TopLayout>

  <div class="relative bg-white dark:bg-indigo-950">
    <div class="mx-auto max-w-screen-sm p-5 space-y-8 pb-16">

      <!-- About section -->
      <section class="animate">
        <div>
          <p>This is a list of all the links in my site.</p>
        </div>
      </section>

      <!-- Sitemap links section -->
      <section class="animate">
        <div>
          <div class="w-full grid mx-auto md:grid-cols-3 sm:grid-cols-2 gap-2 mt-5">
            {list.map(item => (
              <SitemapCard
                text={item.text}
                href={item.href}
              />
            ))}
          </div>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
