.gameBoard {
  display: grid;
  width: 250px;
  height: 500px;
  border: 2px solid hsl(var(--border));
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid hsl(var(--border));
}
