---
import PageLayout from "@layouts/PageLayout.astro"
import { SITE, USES } from "@consts"
import TopLayout from "@layouts/TopLayout.astro"

---

<PageLayout title="Uses" description={SITE.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading text-center text-3xl">
      {USES.TITLE}
    </div>
  </TopLayout>

  <div class="relative bg-white dark:bg-indigo-950">
    <div class="mx-auto max-w-screen-sm p-5 space-y-8 pb-16">

      <!-- About Section -->
      <section class="animate">
        <div>
          <p>All the things I use on a daily basis.</p>
        </div>
      </section>

      <!-- Tech Stack Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-left text-xl text-black dark:text-white">
            Hardware
          </p>
          <ul class='marker:text-green list-outside list-disc ml-6 mb-4'>
            <li>Laptop: 15.6" MSI Modern 15 (Ryzen 5 5500U, 512GB)</li>
            <li>Keyboard: Leaven K780 78 Keys RGB Backlight Wired Detachable Hot-Swappable with Red Switch</li>
            <li>Main phone: Samsung Galaxy S20 Ultra</li>
            <li>Sub phone: Oppo A91</li>
          </ul>
        </div>
        <div>
          <p class="font-semibold text-left text-xl text-black dark:text-white">
            Software
          </p>
            <p class="font-semibold text-left text-l text-black dark:text-white">
              General usage
            </p>
              <ul class='marker:text-green list-outside list-disc ml-6 mb-4'>
                <li>Operating system: Dual boot of
                  <a href="https://fedoraproject.org/" class="underline decoration-dashed hover:decoration-solid">Fedora Linux</a>
                  and
                  <a href="https://github.com/beerisgood/Windows11_Hardening" class="underline decoration-dashed hover:decoration-solid">hardened</a>
                  <a href="https://code.visualstudio.com/" class="underline decoration-dashed hover:decoration-solid">Windows 11</a>
                </li>
                <li>Browser:
                  <a href="https://www.mozilla.org/en-US/firefox/" class="underline decoration-dashed hover:decoration-solid">Firefox</a>
                  and
                  <a href="https://brave.com/" class="underline decoration-dashed hover:decoration-solid">Brave</a>
                </li>
                <li>Design: Figma</li>
                <li>Notes: Notesnook, Nextcloud Notes</li>
                <li>Music: YouTube Music</li>
                <li>Video: VLC</li>
                <li>Photo: GIMP</li>
                <li>Painting: Krita, ibisPaint X</li>
                <li>Video editing: Kdenlive, DaVinci Resolve</li>
                <li>Audio editing: Audacity</li>
                <li>Office: Microsoft Office Online</li>
                <li>Cloud storage: Self-hosted Nextcloud</li>
                <li>VPN: Windscribe (WireGuard config files)</li>
              </ul>
            <p class="font-semibold text-left text-l text-black dark:text-white">
              Development
            </p>
              <ul class='marker:text-green list-outside list-disc ml-6 mb-4'>
                <li>Code editor: <a href="https://code.visualstudio.com/" class="underline decoration-dashed hover:decoration-solid">VS Code</a></li>
                <li>Terminal: Warp, Black Box</li>
                <li>Version control: Git</li>
                <li>API testing: Postman</li>
                <li>Database: MySQL, SQLite</li>
              </ul>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
