---
import PageLayout from "@layouts/PageLayout.astro"
import { SITE, USES } from "@consts"
import TopLayout from "@layouts/TopLayout.astro"

---

<PageLayout title="Uses" description={SITE.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading text-center text-3xl">
      {USES.TITLE}
    </div>
  </TopLayout>

  <div class="relative bg-white dark:bg-indigo-950">
    <div class="mx-auto max-w-screen-sm p-5 space-y-8 pb-16">

      <!-- About Section -->
      <section class="animate">
        <div>
          <p>All the things I use on a daily basis. Also available on <a href="https://uses.tech/" class="underline decoration-dashed hover:decoration-solid">uses.tech</a>, a website where people share the stuff they use.</p>
        </div>
      </section>

      <!-- Tech Stack Section -->
      <section class="animate">
        <div id="hardware">
          <p name="hardware" class="font-semibold text-left text-2xl text-black space-y-5 dark:text-white">
            Hardware
          </p>
          <ul class='marker:text-green list-outside list-disc space-y-1 ml-6 mb-4'>
            <li>Laptop: 15.6" <a href="https://www.msi.com/Business-Productivity/Modern-15-A5SX/Specification" class="underline decoration-dashed hover:decoration-solid">MSI Modern 15</a> (Ryzen 5 5500U, 512GB)</li>
            <li>HDD: <a href="https://www.westerndigital.com/products/portable-drives/wd-my-passport-usb-3-0-hdd" class="underline decoration-dashed hover:decoration-solid">WD My Passport 1TB</a> as backup</li>
            <li>Keyboard: Leaven K780 RGB Backlight Wired Detachable Hot-Swappable with Red Switch</li>
            <li>Mouse: Logitech G304</li>
            <li>Phones:
              <ul class="marker:text-green list-disc list-inside">
                <li>Main: Samsung Galaxy S20 Ultra</li>
                <li class="space-y-1">Sub: Oppo A91</li>
              </ul>
            </li>
            <li>Smartwatch: <a href="https://www.samsung.com/sg/watches/galaxy-watch/galaxy-watch4-pink-gold-lte-sm-r865fzdaxsp/" class="underline decoration-dashed hover:decoration-solid">Samsung Galaxy Watch4 LTE</a></li>
            <li>Earbuds:
              <ul class="marker:text-green list-disc list-inside">
                <li><a href="https://www.samsung.com/sg/audio-sound/galaxy-buds/galaxy-buds2-white-sm-r177nzwaxsp/" class="underline decoration-dashed hover:decoration-solid">Samsung Galaxy Buds2</a></li>
                <li><a href="https://shopee.sg/Baseus-Bowie-E19-TWS-True-Wireless-Bluetooth-Earphones-IPX5-Waterproof-Call-ENC-i.131198971.24015281924" class="underline decoration-dashed hover:decoration-solid space-y-1">Baseus Bowie E19</a> (backup)</li>
              </ul>
            </li>
          </ul>
        </div>
        <div id="software">
          <p name="software" class="font-semibold text-left text-2xl text-black space-y-5 dark:text-white">
            Software
          </p>
            <p id="generaluse" class="font-semibold text-left text-xl text-black space-y-3 dark:text-white">
              General usage
            </p>
              <ul name="generaluse" class='marker:text-green list-outside list-disc space-y-1 ml-6 mb-4'>
                <li>Operating system: Dual boot of
                  <a href="https://fedoraproject.org/" class="underline decoration-dashed hover:decoration-solid">Fedora Linux</a>
                  and
                  <a href="https://github.com/beerisgood/Windows11_Hardening" class="underline decoration-dashed hover:decoration-solid">hardened</a>
                  <a href="https://code.visualstudio.com/" class="underline decoration-dashed hover:decoration-solid">Windows 11</a>
                </li>
                <li>Browser:
                  <a href="https://www.mozilla.org/en-US/firefox/" class="underline decoration-dashed hover:decoration-solid">Firefox</a>
                  and
                  <a href="https://brave.com/" class="underline decoration-dashed hover:decoration-solid">Brave</a>
                </li>
                <li>Music: <a href="https://music.youtube.com/" class="underline decoration-dashed hover:decoration-solid">YouTube Music</a></li>
                <li>Notes:
                  <a href="https://notesnook.com/" class="underline decoration-dashed hover:decoration-solid">Notesnook</a> and
                  <a href="https://github.com/nextcloud/notes" class="underline decoration-dashed hover:decoration-solid">Nextcloud Notes</a>
                </li>
                <li>Office: <a href="https://office.com/" class="underline decoration-dashed hover:decoration-solid">Microsoft Office Online</a></li>
                <li>Cloud storage: <a href="https://github.com/nextcloud/all-in-one" class="underline decoration-dashed hover:decoration-solid">Self-hosted Nextcloud</a></li>
              </ul>
            <p class="font-semibold text-left text-xl text-black space-y-3 dark:text-white">
              Productivity
            </p>
              <ul class='marker:text-green list-outside list-disc space-y-1 ml-6 mb-4'>
                <li>Task management: <a href="https://workflowy.com/" class="underline decoration-dashed hover:decoration-solid">Workflowy</a> and
                <a href="https://github.com/nextcloud/deck" class="underline decoration-dashed hover:decoration-solid">Nextcloud Deck</a></li>
                <li>Calendar: <a href="https://calendar.google.com/" class="underline decoration-dashed hover:decoration-solid">Google Calendar</a></li>
                <li>Time tracking: <a href="https://toggl.com/" class="underline decoration-dashed hover:decoration-solid">Toggl</a></li>
                <li>Automation: <a href="https://zapier.com/" class="underline decoration-dashed hover:decoration-solid">Zapier</a></li>
                <li>Linking phone with PC: <a href="https://kdeconnect.kde.org/" class="underline decoration-dashed hover:decoration-solid">KDE Connect</a></li>
              </ul>
            <p class="font-semibold text-left text-xl text-black space-y-3 dark:text-white">
              Privacy and security
            </p>
              <ul class='marker:text-green list-outside list-disc space-y-1 ml-6 mb-4'>
                <li>VPN: <a href="https://windscribe.com/" class="underline decoration-dashed hover:decoration-solid">Windscribe</a> (WireGuard config)</li>
                <li>Password manager: <a href="https://bitwarden.com/" class="underline decoration-dashed hover:decoration-solid">Bitwarden</a> (self-hosted)</li>
                <li>2FA: <a href="https://ente.io/auth/" class="underline decoration-dashed hover:decoration-solid">Ente Auth</a></li>
                <li>DNS: <a href="https://rethinkdns.com/" class="underline decoration-dashed hover:decoration-solid">RethinkDNS</a></li>
                <li>Search engine: <a href="https://search.brave.com/" class="underline decoration-dashed hover:decoration-solid">Brave Search</a></li>
              </ul>
            <p class="font-semibold text-left text-xl text-black space-y-3 dark:text-white">
              Development
            </p>
              <ul class='marker:text-green list-outside list-disc space-y-1 ml-6 mb-4'>
                <li>Code editor: <a href="https://code.visualstudio.com/" class="underline decoration-dashed hover:decoration-solid">VS Code</a></li>
                <li>Terminal:
                  <a href="https://www.warp.dev/" class="underline decoration-dashed hover:decoration-solid">Warp</a> and
                  <a href="https://flathub.org/apps/com.raggesilver.BlackBox" class="underline decoration-dashed hover:decoration-solid">Black Box</a>
                </li>
                <li>Version control: <a href="https://git-scm.com/" class="underline decoration-dashed hover:decoration-solid">Git</a></li>
                <li>API testing: <a href="https://www.postman.com/" class="underline decoration-dashed hover:decoration-solid">Postman</a></li>
                <li>Database: <a href="https://www.mysql.com/" class="underline decoration-dashed hover:decoration-solid">MySQL</a></li>
                <li>Code hosting: <a href="https://github.com/" class="underline decoration-dashed hover:decoration-solid">GitHub</a></li>
                <li>Web hosting: <a href="https://vercel.com/" class="underline decoration-dashed hover:decoration-solid">Vercel</a></li>
                <li>DDoS protection: <a href="https://www.cloudflare.com/" class="underline decoration-dashed hover:decoration-solid">Cloudflare</a></li>
              </ul>
            <p class="font-semibold text-left text-xl text-black space-y-3 dark:text-white">
              Multimedia
            </p>
              <ul class='marker:text-green list-outside list-disc space-y-1 ml-6 mb-4'>
                <li>Design:
                    <a href="https://figma.com/" class="underline decoration-dashed hover:decoration-solid">Figma</a> and
                    <a href="https://canva.com/" class="underline decoration-dashed hover:decoration-solid">Canva</a>
                  </li>
                  <li>Photo editing: <a href="https://www.gimp.org/" class="underline decoration-dashed hover:decoration-solid">GIMP</a></li>
                  <li>Painting:
                    <a href="https://krita.org/en/" class="underline decoration-dashed hover:decoration-solid">Krita</a> and
                    <a href="https://play.google.com/store/apps/details?id=jp.ne.ibis.ibispaintx.app" class="underline decoration-dashed hover:decoration-solid">ibisPaint X</a>
                  </li>
                  <li>Video player: <a href="https://www.videolan.org/vlc/" class="underline decoration-dashed hover:decoration-solid">VLC</a></li>
                  <li>Video editor:
                    <a href="https://kdenlive.org/" class="underline decoration-dashed hover:decoration-solid">Kdenlive</a> and
                    <a href="https://www.blackmagicdesign.com/products/davinciresolve" class="underline decoration-dashed hover:decoration-solid">DaVinci Resolve</a>
                  </li>
                  <li>Audio editor: <a href="https://www.audacityteam.org/" class="underline decoration-dashed hover:decoration-solid">Audacity</a></li>
              </ul>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
