---
import PageLayout from "@layouts/PageLayout.astro"
import { SITE, COLOPHON } from "@consts"
import TopLayout from "@layouts/TopLayout.astro"
---

<PageLayout title="Colophon" description={SITE.DESCRIPTION}>

  <TopLayout>
    <div class="animate page-heading text-center text-3xl">
      {COLOPHON.TITLE}
    </div>
    <div class="animate page-subheading text-center text-xl">
      Last updated on July 21, 2024.
    </div>
  </TopLayout>

  <div class="relative bg-white dark:bg-indigo-950">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <!-- About Section -->
      <section class="animate">
        <article>
          <p>This site was just registered in late 2023, yet the design has changed a lot over the span of its life. The first version was just a basic WordPress site hosted on a sketchy free hosting provider, the second and third were Carrd sites. The current iteration, built with <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a>, was originally conceived on my birthday as I had more free time and eventually started being implemented now.</p>

          <p>The site is hosted on <a href="https://vercel.com" target="_blank" rel="noopener noreferrer">Vercel</a> and powered by <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer">Typescript</a>, <a href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer">Tailwind</a>, and <a href="https://www.solidjs.com/" target="_blank" rel="noopener noreferrer">SolidJS</a>.</p>

          <p>I love Libre fonts, so for this site I chose <a href="https://fonts.google.com/specimen/Libre+Franklin" target="_blank" rel="noopener noreferrer">Libre Franklin</a>. The accent color is Oxford Blue (hex: #1E1B4B, known as indigo-950 on Tailwind), and it's my favorite color too.</p>

          <p><i>This page draws inspiration from <a href="https://binyam.in/colophon/" target="_blank" rel="noopener noreferrer">Binyamin Aron Green's Colophon</a>, which in turn draws inspiration from <a href="https://ericwbailey.design/colophon.html" target="_blank" rel="noopener noreferrer">Eric Bailey</a>. Original idea on <a href="https://indieweb.org/colophon" target="_blank" rel="noopener noreferrer">IndieWeb</a>.</i></p>
        </article>
      </section>
    </div>
  </div>
</PageLayout>
