---
type Props = {
  text: string
  icon: string
  href: string
}

const { text, icon, href } = Astro.props
---

<a href={href} target="_blank" class="px-3 py-4 flex group rounded border gap-2 items-center border-neutral-200 justify-center dark:border-neutral-700 hover:bg-neutral-100 hover:dark:bg-neutral-800 blend">
  <!-- Will add "md:aspect-square md:items-start md:justify-start" when changing to square layout -->
    <svg class="flex-none w-6 h-6"> <!-- Will add "md:w-7 md:h-7" when changing to square -->
      <use href={`/payment.svg#${icon}`}></use>
    </svg>
  <span class="text-sm text-neutral-700 dark:text-neutral-400 group-hover:text-black group-hover:dark:text-white blend">
    {text}
  </span>
</a>
