---
import RetroLayout from "@/layouts/RetroLayout.astro";
import { author } from '@/lib/constants';
---

<RetroLayout title="Contact - Jarema's Retro Site">
  <!-- Page title -->
  <center>
    <font size="5">
      <b>Contact me</b>
    </font>
  </center>

  <hr>

  <center>
    <font size="3">
      <b>I'd love to hear from you!</b>
    </font>
  </center>

  <p>
    <font size="3">
      Whether you have a question, want to collaborate, or just want to say hello,
      feel free to reach out using any of the methods below:
    </font>
  </p>

  <!-- Contact methods -->
  <table width="100%" border="0" cellpadding="15" cellspacing="5">
    <tr>
      <!-- Email -->
      <td style="width: 50%; vertical-align: top; border: 2px groove #808080;">
        <font size="4">
          <b>📧 Email</b>
        </font>
        <br>
        <font size="3">
          The best way to reach me!
          <br><br>
          <a href={`mailto:${author.email}`}>
            <b>{author.email}</b>
          </a>
        </font>
      </td>

      <!-- Fediverse -->
      <td style="width: 50%; vertical-align: top; border: 2px groove #808080;">
        <font size="4">
          <b>🐘 Fediverse</b>
        </font>
        <br>
        <font size="3">
          Find me on social media!
          <br><br>
          <a href="https://blob.cat/jar">
            <b>@jar@blob.cat</b>
          </a>
        </font>
      </td>
    </tr>
  </table>

  <br>

  <!-- Response time notice -->
  <table width="100%" border="0" cellpadding="10" cellspacing="0" style="border: 2px solid #ff9800;">
    <tr>
      <td align="center">
        <font size="2">
          I try to respond to all messages within 48 hours. If you don't hear back, feel free to send a follow-up!
        </font>
      </td>
    </tr>
  </table>

  <br>

  <!-- Guestbook -->
  <center>
    <table border="0" cellpadding="15" cellspacing="0" style="border: 3px ridge #4caf50;">
      <tr>
        <td align="center">
          <font size="3">
            <b>Or sign my guestbook!</b>
          </font>
          <br>
          <font size="2">
            Leave a public message for everyone to see!
            <br><br>
            <a href="https://jarema.atabook.org" target="_blank" rel="noopener noreferrer">
              <b>Go to Guestbook</b>
            </a>
          </font>
        </td>
      </tr>
    </table>
  </center>

  <br>

  <!-- Back link -->
  <center>
    <font size="2">
      <a href="/retro/">&lt;&lt; Back to homepage</a>
    </font>
  </center>
</RetroLayout>
