---
import RetroLayout from "@/layouts/RetroLayout.astro";

const lastUpdated = new Date().toLocaleDateString('en-GB', {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<RetroLayout title="Jarema - Retro version">
  <!-- Welcome banner -->
  <center>
    <font size="6">
      <b>Welcome to my corner!</b>
    </font>
  </center>

  <hr style="background-color: #4A3F6F; border: none; height: 2px;">

  <!-- Introduction -->
  <p>
    <font size="3">
      <b>Hello wanderer!</b> My name is <font color="#54D4FF"><b>Jarema</b></font> and
      this is my corner on the internet!
    </font>
  </p>

  <p>
    <font size="3">
      I am a student and developer who enjoys tinkering and building things. This website is the place I share my{' '}
      <a href="/retro/blog/" style="color: #54D4FF;">thoughts</a>,{' '}
      <a href="/retro/projects/" style="color: #54D4FF;">projects</a>, and also{' '}
      <a href="/retro/about/" style="color: #54D4FF;">a bit about myself</a>.
    </font>
  </p>

  <hr style="background-color: #4A3F6F; border: none; height: 2px;">

  <!-- What's here section -->
  <table width="100%" cellpadding="5" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <font size="4">
            <b>What's on here?</b>
          </font>
        </td>
      </tr>
    </tbody>
  </table>

  <blockquote>
    <dl>
      <dt><b><a href="/retro/about/" style="color: #54D4FF;">About me</a></b></dt>
      <dd>Learn more about who I am and what I do.</dd>

      <dt><b><a href="/retro/blog/" style="color: #54D4FF;">Blog</a></b></dt>
      <dd>Read my latest thoughts, tutorials, and ramblings.</dd>

      <dt><b><a href="/retro/projects/" style="color: #54D4FF;">Projects</a></b></dt>
      <dd>Check out the things I've built.</dd>

      <dt><b><a href="/retro/now/" style="color: #54D4FF;">Now</a></b></dt>
      <dd>What I'm currently focused on.</dd>

      <dt><b><a href="/retro/uses/" style="color: #54D4FF;">Uses</a></b></dt>
      <dd>The tools and tech I use daily.</dd>

      <dt><b><a href="/retro/contact/" style="color: #54D4FF;">Contact</a></b></dt>
      <dd>Ways to get in touch with me.</dd>
    </dl>
  </blockquote>

  <hr style="background-color: #4A3F6F; border: none; height: 2px;">

  <!-- Webrings -->
  <center>
    <font size="3">
      <b>Webrings</b>
    </font>
    <br>
    <font size="2">
      This site is part of several webrings. Check them out, they're cool!
      <br>
      <a href="/retro/webrings/" style="color: #54D4FF;">View all webrings</a>
    </font>
  </center>

  <hr style="background-color: #4A3F6F; border: none; height: 2px;">

  <!-- Last updated -->
  <center>
    <font size="2" color="#F4F4F5">
      <i>
        Last updated: {lastUpdated}
      </i>
    </font>
  </center>
</RetroLayout>
