---
import RetroLayout from "@/layouts/RetroLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import type { NowItem } from "@/content/now-items";

const nowItems: NowItem[] = (await getCollection("now")).map((e: CollectionEntry<"now">) => e.data);
---

<RetroLayout title="Now - Jarema's retro site">
  <!-- Page title -->
  <center>
    <font size="5">
      <b>What I'm doing now</b>
    </font>
    <hr style="width: 50%">
    <font size="2">
      <i>
        A <a href="https://nownownow.com/about">now page</a> inspired by Derek Sivers
      </i>
    </font>
  </center>

  <hr>

  <p>
    <font size="3">
      This page shows what I'm currently focused on in life.
      It's updated periodically.
    </font>
  </p>

  <!-- Now items -->
  {nowItems.map((item) => (
    <table width="100%" border="0" cellpadding="10" cellspacing="0" style="border: 2px inset #808080; margin-bottom: 10px;">
      <tr>
        <td>
          <font size="3">
            <b>{item.category.charAt(0).toUpperCase() + item.category.slice(1)}</b>
          </font>
          <br>
          <font size="2">
            {item.content.en}
          </font>
          <br>
          <font size="1" color="#bbbbbb">
            <i>Updated: {new Date(item.date).toLocaleDateString('en-GB')}</i>
          </font>
        </td>
      </tr>
    </table>
  ))}

  <hr>

  <!-- Last updated -->
  <center>
    <font size="2">
      <i>
        Last updated: {new Date().toLocaleDateString('en-GB', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })}
      </i>
    </font>
  </center>

  <br>

  <!-- Back link -->
  <center>
    <font size="2">
      <a href="/retro/">&lt;&lt; Back to homepage</a>
    </font>
  </center>
</RetroLayout>
