---
// Retro layout
// No JavaScript, table-based layout, inline styles
// Compatible with Lynx, Mosaic, and other vintage browsers

interface Props {
  title?: string;
}

const { title = "Jarema - Retro version" } = Astro.props;
const siteName = "Jarema";
const currentYear = new Date().getFullYear();
const lastUpdated = new Date().toLocaleDateString('en-GB', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>{title}</title>
  <link rel="stylesheet" href="/retro.css" type="text/css">
</head>
<body style="background-color: #1a1625; color: #f2f2f2; font-family: Times New Roman, Times, serif; margin: 0; padding: 0;">

<!-- Invisible h-card for parsers -->
<div class="h-card" style="position: absolute; left: -9999px; top: -9999px;">
  <a class="p-name u-url u-uid" href="https://jarema.me">Jarema</a>
  <img class="u-photo" src="/favicon.png" alt="">
  <a class="u-email" href="mailto:hello@jarema.me">hello@jarema.me</a>
  <a class="u-key" href="/keys/gpg">/keys/gpg</a>
  <span class="p-category">student</span>
</div>

<!-- Main layout table -->
<table width="100%" cellpadding="0" cellspacing="0" style="max-width: 800px; margin: 0 auto;">
  <tbody>
    <!-- Header row -->
    <tr>
      <td colspan="3" style="background-color: #2d1b4e; color: #ffffff; padding: 10px; text-align: center;">
        <table width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td style="text-align: left;">
                <font size="5" color="#ffffff">
                  <b>☆ {siteName} ☆</b>
                </font>
                <br>
                <font size="2" color="#5dd9f4">
                  <i>A personal website since 2024</i>
                </font>
              </td>
              <td style="text-align: right; vertical-align: middle;">
                <font size="2" color="#ffffff">
                  [<a href="/retro/" style="color: #5dd9f4;">Home</a>]
                  {' '}
                  [<a href="/retro/about/" style="color: #5dd9f4;">About</a>]
                  {' '}
                  [<a href="/retro/blog/" style="color: #5dd9f4;">Blog</a>]
                  {' '}
                  [<a href="/retro/projects/" style="color: #5dd9f4;">Projects</a>]
                  {' '}
                  [<a href="/retro/contact/" style="color: #5dd9f4;">Contact</a>]
                </font>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <!-- Decorative HR -->
    <tr>
      <td colspan="3" style="padding: 5px 0;">
        <hr style="border: none; height: 3px; background-color: #5dd9f4;">
      </td>
    </tr>

    <!-- Modern browser notice -->
    <tr>
      <td colspan="3" style="padding: 5px 10px;">
        <table width="100%" cellpadding="5" cellspacing="0" style="background-color: #2d1b4e; border: 2px solid #5dd9f4;">
          <tbody>
            <tr>
              <td>
                <font size="3" color="#f2f2f2">
                  <b>Note:</b> You are viewing the <b>retro version</b> of this website. Welcome!
                </font>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <!-- Content area with sidebar -->
    <tr>
      <td colspan="3" style="padding: 10px;">
        <table width="100%" cellpadding="0" cellspacing="10">
          <tbody>
            <tr>
              <!-- Main content -->
              <td style="vertical-align: top; width: 75%; background-color: #211833; color: #f2f2f2; padding: 15px; border: 2px inset #3d2f5a;">
                <slot />
              </td>

              <!-- Sidebar -->
              <td style="vertical-align: top; width: 25%; background-color: #2d1b4e; color: #f2f2f2; padding: 10px; border: 2px inset #3d2f5a;">
                <!-- Navigation -->
                <center>
                  <font size="3" color="#5dd9f4"><b>Navigation</b></font>
                </center>
                <hr style="background-color: #3d2f5a; border: none; height: 2px;">
                <ul style="padding-left: 20px; margin: 5px 0;">
                  <li><a href="/retro/" style="color: #5dd9f4;">Home</a></li>
                  <li><a href="/retro/about/" style="color: #5dd9f4;">About me</a></li>
                  <li><a href="/retro/blog/" style="color: #5dd9f4;">Blog</a></li>
                  <li><a href="/retro/projects/" style="color: #5dd9f4;">Projects</a></li>
                  <li><a href="/retro/now/" style="color: #5dd9f4;">Now</a></li>
                  <li><a href="/retro/uses/" style="color: #5dd9f4;">Uses</a></li>
                  <li><a href="/retro/webrings/" style="color: #5dd9f4;">Webrings</a></li>
                  <li><a href="/retro/contact/" style="color: #5dd9f4;">Contact</a></li>
                </ul>

                <hr style="background-color: #3d2f5a; border: none; height: 2px;">

                <!-- Site info -->
                <center>
                  <font size="3" color="#5dd9f4"><b>Site info</b></font>
                </center>
                <hr style="background-color: #3d2f5a; border: none; height: 2px;">
                <font size="2">
                  <p>
                    <b>Last updated:</b><br>
                    {lastUpdated}
                  </p>
                  <p>
                    <b>Webmaster:</b><br>
                    ∴ Jarema
                  </p>
                </font>

                <hr style="background-color: #3d2f5a; border: none; height: 2px;">

                <!-- Links -->
                <center>
                  <font size="3" color="#5dd9f4"><b>Links</b></font>
                </center>
                <hr style="background-color: #3d2f5a; border: none; height: 2px;">
                <font size="2">
                  <ul style="padding-left: 20px; margin: 5px 0;">
                    <li><a href="https://github.com/jartf" style="color: #5dd9f4;">GitHub</a></li>
                    <li><a href="/rss.xml" style="color: #5dd9f4;">RSS feed</a></li>
                    <li><a href="/" style="color: #5dd9f4;">Modern site</a></li>
                  </ul>
                </font>

                <hr style="background-color: #3d2f5a; border: none; height: 2px;">

                <!-- Under construction -->
                <center>
                  <font size="2">
                    <img src="/underconstruction.png" alt="Under construction" width="88" height="31" style="image-rendering: pixelated;">
                    <br>
                    <font>This site is always under construction!</font>
                  </font>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <!-- Footer -->
    <tr>
      <td colspan="3" style="background-color: #2d1b4e; color: #ffffff; padding: 10px; text-align: center;">
        <font size="2" color="#ffffff">
          <p>
            ∴ Jarema, {currentYear} - No rights reserved
            <br>
            <a href="mailto:hello@jarema.me" style="color: #5dd9f4;">hello@jarema.me</a>
          </p>
          <p>
            <font size="2">
              This page has been accessed{' '}
              <font color="#5dd9f4"><b>∞</b></font>{' '}
              times since you loaded it!
              <br>
              You are visitor #42069 (probably)
            </font>
          </p>
          <p>
            <font size="2">
              [<a href="/" style="color: #5dd9f4;">View modern version</a>]
              {' | '}
              [<a href="/sitemap.xml" style="color: #5dd9f4;">Sitemap</a>]
              {' | '}
              [<a href="/rss.xml" style="color: #5dd9f4;">RSS</a>]
            </font>
          </p>
        </font>
      </td>
    </tr>
  </tbody>
</table>

<!-- Bottom badges -->
<div style="text-align: center; padding: 20px;">
  <table cellpadding="5" cellspacing="5" style="margin: 0 auto;" align="center">
    <tbody>
      <!-- Row 1 - First 8 badges -->
      <tr style="text-align: center;">
        <td>
          <img src="/sweet.png" alt="Sweet homepage" width="88" height="31">
        </td>
        <td>
          <a href="https://www.anybrowser.org/campaign/">
            <img src="/any_browser.gif" alt="Best viewed with any browser" width="88" height="31">
          </a>
        </td>
        <td>
          <img src="/lynxnow.gif" alt="Lynx Now!" width="88" height="31">
        </td>
        <td>
          <img src="/dumbass.gif" alt="Dumbass webmaster ahead" width="88" height="31">
        </td>
        <td>
          <img src="/join_logo.gif" alt="Miaow" width="88" height="31">
        </td>
        <td>
          <img src="/bannars.gif" alt="Miaow" width="88" height="31">
        </td>
        <td>
          <img src="/teto.gif" alt="Teto" width="88" height="31">
        </td>
        <td>
          <img src="/button2019.gif" alt="Still using buttons in 2019!" width="88" height="31">
        </td>
      </tr>
      <!-- Row 2 - Next 8 badges -->
      <tr style="text-align: center;">
        <td>
          <a href="https://people.pledge.party">
            <img src="/people_pledge_badge_party_cream_pink_88x31.png" alt="People Pledge" width="88" height="31">
          </a>
        </td>
        <td>
          <a href="https://kagi.com/smallweb">
            <img src="/kagi-smallweb-yellow.gif" alt="Kagi Small Web" width="88" height="31">
          </a>
        </td>
        <td>
          <img src="/internetprivacy.gif" alt="Internet Privacy Now!" width="88" height="31">
        </td>
        <td>
          <a href="https://yesterweb.org/no-to-web3/">
            <img src="/saynotoweb3_88x31.gif" alt="Keep the web free, say no to Web3" width="88" height="31">
          </a>
        </td>
        <td>
          <a href="/rss.xml">
            <img src="/valid-rss-rogers.png" alt="Valid RSS feed" width="88" height="31">
          </a>
        </td>
        <td>
          <a href="/atom.xml">
            <img src="/valid-atom.png" alt="Valid Atom feed" width="88" height="31">
          </a>
        </td>
        <td>
          <a href="/humans.txt">
            <img src="/humanstxt.png" alt="humans.txt" width="88" height="31">
          </a>
        </td>
        <td>
          <img src="/got_html.gif" alt="Got HTML?" width="88" height="31">
        </td>
      </tr>
      <!-- Row 3 - Last 3 badges -->
      <tr>
        <td colspan="8" align="center">
          <a href="https://fedoraproject.org/">
            <img src="/fedora.gif" alt="Fedora Linux" width="88" height="31">
          </a>
          {' '}
          <a href="/blog/2025/08/anything-but-chrome">
            <img src="/anythingbut.gif" alt="Anything but Chrome" width="88" height="31">
          </a>
          {' '}
          <img src="/retrokid.gif" alt="Retro" width="88" height="31">
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
