/* Animation classes for BlogPostClient */

.animatedX {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.3s, transform 0.3s;
}

.animatedY {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s, transform 0.3s;
}
